# These owners will be the default reviewers for all pull requests.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @md-muntasir-shihab
